.container {
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 36px;
}

.shop-icon {
  display: inline-block;
  margin-left: 3rem;
  font-size: 30px;
  color: white;
  justify-content: spa;
}

.cart-items {
  display: inline-block;
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
}
