<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-between
      "
    >
      <span class="logo mr-4"><a href="#">IK Store</a></span>
      <ul
        class="
          nav
          col-12 col-lg-auto
          ml-3
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Shop</a></li>

        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        <li>
          <a
            [routerLink]="['/admin']"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >My Profile</a
          >
        </li>
      </ul>
      <div class="text-end ml-4">
        <button
          [routerLink]="['/login']"
          routerLinkActive="active"
          type="button"
          class="btn btn-outline-light mr-2"
        >
          Login
        </button>
        <button
          [routerLink]="['/register']"
          routerLinkActive="active"
          type="button"
          class="btn btn-warning"
        >
          Register
        </button>
      </div>
      <a class="shop-icon"><fa-icon [icon]="faShoppingCart"></fa-icon> </a>
    </div>
    <div class="d-flex mt-2 justify-content-center justify-content-lg-between">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button
          class="btn btn-secondary mr-2"
          id="dropdownManual"
          ngbDropdownAnchor
          (focus)="myDrop.open()"
        >
          All Categories
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem>Books</button>
          <button ngbDropdownItem>Electronics</button>
          <button ngbDropdownItem>Furniture</button>
        </div>
      </div>
      <form class="w-50">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</header>
