<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <span class="logo mr-4"
        ><a href="" [routerLink]="['/']">IK Store</a>
        <a [routerLink]="['/cart']" class="shop-icon"
          ><fa-icon [icon]="faShoppingCart"></fa-icon>
          <span class="cart-items">{{ items }}</span>
        </a></span
      >

      <div *ngIf="!authenticated; else templateName">
        <div class="text-end ml-4">
          <button
            [routerLink]="['/login']"
            routerLinkActive="active"
            type="button"
            class="btn btn-outline-light mr-2"
          >
            Login
          </button>
          <button
            [routerLink]="['/register']"
            routerLinkActive="active"
            type="button"
            class="btn btn-warning"
          >
            Register
          </button>
        </div>
      </div>
      <ng-template #templateName>
        <button
          (click)="logout()"
          [routerLink]="['/logout']"
          routerLinkActive="active"
          type="button"
          class="btn btn-danger"
        >
          Logout
        </button>
      </ng-template>
    </div>

    <div class="text-center">
      <button [routerLink]="['/products']" class="btn btn-secondary">
        Show Products
      </button>
    </div>
  </div>
</header>
