<div class="jumbotron mb-0">
  <h2 class="text-center mb-3">Dashboard</h2>
  <div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">
      <ngb-panel title="Add new category">
        <ng-template ngbPanelContent>
          <!-- Default form login -->
          <form class="text-center border border-light p-5">
            <input
              type="text"
              id="categoryName"
              class="form-control mb-4"
              placeholder="E-mail"
            />
            <button class="my-4" type="submit">Submit</button>
          </form>
        </ng-template>
      </ngb-panel></ngb-accordion
    >
  </div>
</div>
