<div class="jumbotron mb-0 text-center">
  <h3>Cart</h3>
  <div *ngFor="let item of items">
    <div class="item-container text-center">
      <span class="item"
        ><h4>{{ item.name }}</h4></span
      >
      <span class="item"
        ><h5>${{ item.price }}</h5></span
      >
      <button class="remove-btn btn btn-danger" (click)="deleteItem(item)">
        Remove
      </button>
    </div>
  </div>
  <button [routerLink]="['/purchase']" class="order-btn btn btn-warning">
    Place order
  </button>
</div>
