<!-- Default form login -->
<div class="container">
  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">Login</p>

    <!-- Email -->
    <input
      type="text"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      placeholder="Login"
      name="login"
      [(ngModel)]="login"
    />

    <!-- Password -->
    <input
      type="password"
      id="defaultLoginFormPassword"
      class="form-control mb-4"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
    />

    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>

      <!-- Sign in button -->
      <button class="my-4" type="button" (click)="getLogin()">Sign in</button>

      <!-- Register -->
      <p>
        Not a member?
        <a href="">Register</a>
      </p>
    </div>
  </form>
</div>
