<div class="container">
  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">Registration</p>

    <input type="text" class="form-control mb-4" placeholder="Login" />

    <input
      type="password"
      id="defaultRegisterFormPassword"
      class="form-control"
      placeholder="Password"
      aria-describedby="defaultRegisterFormPasswordHelpBlock"
    />
    <small
      id="defaultRegisterFormPasswordHelpBlock"
      class="form-text text-muted mb-4"
    >
      At least 8 characters and 1 digit
    </small>
    <!-- E-mail -->
    <input
      type="email"
      id="defaultRegisterFormEmail"
      class="form-control mb-4"
      placeholder="E-mail"
    />

    <input
      type="text"
      id="defaultRegisterFormLastName"
      class="form-control mb-4"
      placeholder="City"
    />

    <input
      type="text"
      id="defaultRegisterPhonePassword"
      class="form-control"
      placeholder="Address"
    />
    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">
      Sign in
    </button>
    <!-- Terms of service -->
    <p>
      By clicking <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>
    </p>
  </form>
</div>
